.luckysheet-formula-search-c {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #acacac;
  font-size: 12px;
  background: #1a1a1b;
  z-index: 1003;
  width: 300px;
}

.luckysheet-formula-search-c .luckysheet-formula-search-item {
  background: #1a1a1b;
  padding: 5px 10px;
  cursor: pointer;
}

.luckysheet-formula-search-c
  .luckysheet-formula-search-item
  .luckysheet-formula-search-detail {
  display: none;
  color: #bbbbbb;
}

.luckysheet-formula-search-c
  .luckysheet-formula-search-item
  .luckysheet-formula-search-func {
  color: #dddddd;
  font-size: 14px;
}

.luckysheet-formula-search-c .luckysheet-formula-search-item-active {
  display: block;
  border-top: 1px solid #141414;
  border-bottom: 1px solid #141414;
  background: #0a0a0a;
}

.luckysheet-formula-search-c
  .luckysheet-formula-search-item-active
  .luckysheet-formula-search-detail {
  display: block;
}
